.App {
  text-align: center;
}

.GT-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F9F6E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #003057;
}

.Start-button {
  display:inline-block;
  padding:2em 5.5em;
  border:0.14em solid #003057;
  margin:0 0.2em 0.2em 0;
  border-radius:0.32em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:475;
  color:#003057;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#B3A369;
  text-align:center;
  transition: all 0.15s;
  cursor: pointer;
}

.Start-button:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#ffffff;
  border-color:#ffffff;
}

